.header {
  padding: 2rem 0;
  background: #fff;
}
.header h1 {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.5rem;
  text-align: center;
}

.header span {
  margin: 0 1rem;
}

.colourSpan {
  color: cadetblue;
}

@media (min-width: 600px) {
  .header h1 {
    font-size: 3rem;
  }
}
