.title {
  padding: 2rem 0;
  line-height: 1.15;
  font-size: 2rem;
  background: #fff;
}
.title h1 {
  margin-bottom: 1rem;
}
.title a,
.title span {
  color: cadetblue;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.title img {
  transform: rotate(90deg);
}
