.homeTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.btn {
  padding: 4px 8px;
  background: cadetblue;
  color: #f5f5f5;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
}
