.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.homeTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.btn {
  padding: 4px 8px;
  background: cadetblue;
  color: #f5f5f5;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
