.iconClose {
  text-align: right;
  margin-bottom: 1rem;
}
.iconClose svg {
  padding: 8px;
  cursor: pointer;
  box-sizing: content-box;
}

.btnClose {
  text-align: center;
  padding: 2rem 0 1rem;
}
.btnClose button {
  padding: 0.5rem 1rem;
  background: cadetblue;
  border: none;
  border-radius: 4px;
  outline: black;
  font-size: 1rem;
  font-family: inherit;
  color: #f5f5f5;
  cursor: pointer;
}

@media (hover) {
  .iconClose svg:hover,
  .btnClose button:hover {
    filter: brightness(1.2);
  }
}

/* override default modal styles to add a max-width and adjust for mobile */
.modal {
  max-width: 980px;
  margin: 0 auto;
  padding: 8px 20px 20px;
  position: absolute;
  inset: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
}

@media (min-width: 768px) {
  .modal {
    inset: 40px;
  }
}
