.listItem {
  padding: 1rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.listItemButton {
  padding: 1.5rem 0 0.5rem;
  text-align: center;
}

.attribution {
  text-align: right;
  font-style: italic;
}

.listLeftSpan {
  display: inline-block;
  width: 7rem;
}
